nz-content {
  padding: 10px 10px 10px 10px;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px 0 0;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.header-div {
  font-size: 18px;
  color: lightsteelblue;
}

.text-header {
  font-size: 18px;
  color: black;
}

::ng-deep.ant-layout-header {
  background-color: #fff;
}

::ng-deep.ant-menu-dark {
  background-color: #0766a4;
}

::ng-deep.ant-menu-light {
  background-color: #0766a4;
}

::ng-deep.ant-layout-sider {
  background-color: #0766a4;
}

::ng-deep.ant-menu-dark .ant-menu-inline.ant-menu-sub{
  background: #0766b4;
}

::ng-deep.ant-menu-sub{
  background: #0766b4!important;
}

.style-logo {
  padding: 0 16px 0 24px;
  margin: 30px 0 10px;
}

.style-logo-li {
  padding: 0 32px;
  list-style-type: none
}

.left-panel {
  padding: 20% 0 0 0;
  margin: 0 2px;
}

.inner-content-main {
  background: #fff;
  min-height: 90vh;
  max-width: 200vh;
}

@media screen and (max-width: 900px) {

  .text-header {
    font-size: 14px;
    color: black;
  }

  .trigger {
    display: none;
    padding: 0 12px 0 0;
  }

  .left-panel {
    padding: 20% 0 0 0;
    margin: 0 2px;
  }

  span {
    font-size: 12px;
  }

  ::ng-deep.ant-layout-header {
    padding: 0 10px;
  }

  ::ng-deep.ant-steps-small.ant-steps-item-title {
    font-size: 12px;
  }

  ::ng-deep.ant-steps-small .ant-steps-item-description {
    font-size: 12px;
  }

  ::ng-deep.ant-menu-light {
    background-color: #0766a4;
  }


}


